<!DOCTYPE html>
<html ng-app="gameApp">
<head>
  <link rel="stylesheet" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js"></script>
  <script src="script.js"></script>
   <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

</head>
  <body> 
  <div x-ng-controller="ticController" ng-model="gameContainer">
<div class="loadcontainer" ng-click="select()" ng-if="(loader < 2)">
   <!--    <div class="video"> <video controls autoplay> <source src="images/turtlescropped.mp4" type="video/mp4"> </video> </div>
       -->
      <img src="images/loadscreen.png" ng-class="{load:true}" ng-if="(loader == 0)"/>
      <img src="{{charaimage}}" ng-class="{char: true}" ng-if="(loader == 1)"/>
        <div class="mikey" ng-mouseover="mikeyf()" ng-click=""></div>
        <div class="don" ng-mouseover="donf()" ng-click=""></div>
        <div class="raph" ng-mouseover="raphf()" ng-click=""></div>
        <div class="leo" ng-mouseover="leof()" ng-click=""></div>
    </div>  
   
   <div class="startlogo"> <img src="images/logo.png" height="140px" width="350px"/> </div>
    <div class="wrapper">
        <div class="cells" 
          x-ng-repeat="b in gameContainer.cellListArray track by $index" 
            x-ng-click="clicker($index)">
             {{ b }}
        </div>
    </div>
  </div>


  <div class="wrapper2">
  <div x-ng-controller="ticController2" ng-model="board">
        <div class="cells" 
          x-ng-repeat="b in gameContainer.cellListArray track by $index" 
            x-ng-click="clicker($index)">
             {{ b }}
        </div>
  </div>
</div>
  <div class="wrapper3">
  <div x-ng-controller="ticController2" ng-model="board">
        <div class="cells" 
          x-ng-repeat="b in gameContainer.cellListArray track by $index" 
            x-ng-click="clicker($index)">
             {{ b }}
        </div>
  </div>
</div>
  </body>
  
  </html>