<!DOCTYPE html>
<html ng-app="gameApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
    <div class="loadcontainer" ng-click="select()" ng-if="(loader < 2)">
     <!--  <div class="video"> <video controls autoplay> <source src="images/turtlescropped.mp4" type="video/mp4"> </video> </div>
       -->
      <img src="images/loadscreen.png" ng-class="{load:true}" ng-if="(loader == 0)"/>
      <img src="{{charaimage}}" ng-class="{char: true}" ng-if="(loader == 1)"/>
        <div class="mikey" ng-mouseover="mikeyf()" ng-click=""></div>
        <div class="don" ng-mouseover="donf()" ng-click=""></div>
        <div class="raph" ng-mouseover="raphf()" ng-click=""></div>
        <div class="leo" ng-mouseover="leof()" ng-click=""></div>
    </div>  


  
  <body x-ng-controller="ticController" ng-model="board">
   
   <div class="startlogo"> <img src="images/logo.png" height="140px" width="350px"/> </div>
    <div class="wrapper">
      <h2> Tic Tac Toe </h2>

      <div class="cells" 
        x-ng-repeat="b in board track by $index" 
          x-ng-click="clicker($index)">
            {{ b }}
      </div>
    </div>
    


  </body>
  </html>