@charset "UTF-8";

body {
  background-color: black;
}
.wrapper {
  height: 325px;
  width: 700px;
  float: left;
  margin-left: 28%;
}
.clear {
  clear:both;
}

.cells {
width: 150px;
height: 82px;
float: left;
color: white;
font-size: 75px;
text-align: center;
border: 1px solid white;
}

.startlogo {
  margin-left: 37% 
}

.loadcontainer { 
  width: 1300px;
  height: 1200px;
  
}

.load {
  width: 1000px;
  height: 625px;
  margin-left: 15%
}

.char {
  width: 1000px;
  height: 625px;
  margin-left: 15%
}

/*border screenshots===========================*/
.leoborder {
  width: 175px;
  height: 333px;
  position: absolute;
  top: 0px; 
  left:0px;
}

.raphborder {
  width: 175px;
  height: 333px;
  position: absolute;
  top: 333px;
  left:0px;
}

.mikeborder {
  width: 175px;
  height: 333px;
  position: absolute;
  top: 0px;
  left:1250px;
}
.donborder {
  width: 175px;
  height: 333px;
  position: absolute;
  top: 333px;
  left:1250px;
}

/*character select screen===================*/
.mikey {
  height: 385px;
  width: 230px;
  position: absolute;
  top: 166px;
  left: 455px;
}


.don {
  height: 385px;
  width: 230px;
  position: absolute;
  top: 166px;
  left: 707px;

}

.raph {
  height: 385px;
  width: 230px;
  position: absolute;
  top: 166px;
  left: 953px;

}

.leo {
  height: 385px;
  width: 230px;
  position: absolute;
  top: 166px;
  left: 200px;
}

video {
  position: absolute;
  top: 15px;
  left: 120px;
  height: 625px;
  width: 1200px;

}


/*character gif animations===================================*/
#charwrapper {
  width: 400px;
  height: 170px;
  margin: 0 auto;

}

#donatello {
 
  height: 125px;
  width: 100px;
  float: left;
  margin-right: 170px;
 
}

#mikey {
 height: 125px;
 width: 100px; 
 float: left;
 -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/*win screens===============================*/
.winscreen {
  height: 550px;
  width: 700px;
  position: absolute;
  top: 70px;
  left:360px;
  color: white;
  font-size: 70px;
  background-color: black;
  border: 2px solid white;
  text-align: center;

}

.winscreen img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.titlelogo {
  height: 173px;
  width: 756px;
  z-index: 2;
  position:absolute;
  top: 267px;
  left: 333px;
  -webkit-animation-name: bounceInDown 3s ease-in;
   animation: bounceInDown 3s ease-in;
}